# ignore everything
*

# allow build output
!dist/
!dist/**

# allow git files
!.gitignore

# allow Exp-4
!Exp-4/
!Exp-4/**

# allow Exp-9
!Exp-9/
!Exp-9/**

# logs (optional but fine)
*.log


# Local Netlify folder
.netlify
