# ignore everything
*

# allow build output
!dist/
!dist/**

# allow git files
!.gitignore

# allow Exp-4
!Exp-4/
!Exp-4/**

# allow Exp-9
!Exp-9/
!Exp-9/**

# allow Exp-13
!Exp-13/
!Exp-13/**

# logs (optional but fine)
*.log

# Python bytecode
__pycache__/
*.pyc
*.pyo


# Local Netlify folder
.netlify
